__pycache__
*.pyc
*.pyo
*.pyd
.Python

.vscode
.idea
.DS_Store
*.log
*.local

.env
!.env.example

*.egg
*.egg-info
dist
build
eggs
.eggs
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
.Python

.mypy_cache
.pytest_cache
.ruff_cache
.coverage
htmlcov
.tox
.nox
coverage.xml
*.cover
.hypothesis
.pytype
cython_debug

venv
.venv
ENV
env.bak
venv.bak

node_modules
.npm
.pnpm-store
.pnpm-debug.log

backend/logs
backend/*.db
backend/alembic/versions/*
!backend/alembic/versions/.gitkeep

docker/nginx/app/dist
docker/nginx/docs/dist
docker/nginx/web/dist
docker/nginx/ssl/*
!docker/nginx/ssl/.gitkeep
docker/.env
docker/docker-compose.yaml

frontend/node_modules
frontend/dist
frontend/src/types/auto-imports.d.ts
frontend/src/types/components.d.ts
frontend/.env.development
frontend/.env.production
frontend/web/.env

frontend/docs/*
!frontend/docs/.gitkeep

frontend/app/*
!frontend/app/.gitkeep

.plan/*
CLAUDE.md
AGENTS.md