@charset "UTF-8";

/* 滚动条 */

/* 滚动条整体部分,必须要设置 */
::-webkit-scrollbar {
  width: 4px !important;
  height: 0 !important;
}

/* 滚动条的轨道 */
::-webkit-scrollbar-track {
  background-color: var(--fa-gray-200);
}

/* 滚动条的滑块按钮 */
::-webkit-scrollbar-thumb {
  background-color: #ccc !important;
  border-radius: 5px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #b0abab !important;
}

/* 滚动条的上下两端的按钮 */
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

.dark {
  ::-webkit-scrollbar-track {
    background-color: var(--default-bg-color);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--fa-gray-300) !important;
  }
}
